@media screen and (max-width: 899px) {
    .banner-description{
    margin: 30px 50px;
    
    }
    
    .btn-box{
        width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
    .box{ 
       
        width: 50%;
        height: 50px;
        margin: 5px 0px;
    
    }
    
}

/*---------------- mobile device------------- */

@media screen and (max-width: 600px) {
    nav, .logo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .menu{
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: 10px;
       
    }
    .banner-description{
        margin: 10px;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn-section label{
    

    margin: 0px auto;
    }
    .box{
        width: auto;
    }
    .btn-box{
        width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
    .box{ 
       
        width: 100%;
        height: 50px;
        margin: 5px 0px;
    
    }
}