@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.container{
    width: 82%;
    max-width: 1170px;
    margin: 0px auto;
}

/* ---------------Nave section style here------------------ */
nav{
    display: flex;
    padding: 30px 0px;
    
}
.logo{
    
   
    display: flex;
    align-items: center;
    width: 50%;
   

}
.logo-contant{
    margin-left: 10px;
    color: #131318;
    font-weight: 800;
    font-size: 26px;
}
.menu{
   
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: #131318;
}
.banner{
    background-image: url('./img/Group\ 13\ \(1\)\ \(1\).png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    
}
.banner-heading{
    color: #FFF;
font-size: 46px;
font-weight: 800;
text-align: center;
padding-top: 100px;
}
.banner-description{
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
margin: 30px 200px;

}
.btn-box{
    border: 5px solid red;
    width: 750px;
    min-height: 50px;
    padding: 20px 10px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
margin: 0px auto;
display: flex;
justify-content: space-between;
align-items: center;
}
.box{ 
    border: 5px solid green;
    width: 170px;
    height: 50px;

}
.btn-box .box input, .find{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
}
.find{
background: #FF5400;
}
::placeholder{
    color: rgba(19, 19, 24, 0.502);
font-size: 16px;
font-weight: 400;
text-align: center;
font-size: 16px;
}
.box{
   position: relative;
}
.fa-regular{
    position: absolute;
    translate: -30px 10px;
    

    color: #13131880;
    font-size: 26px;
}
.fa-solid{
    font-size: 26px;
    margin-right: 10px;
}






